@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: "Tenor Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h2 {
    font-family: "Tenor Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
p {
    font-family: "Tenor Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
a {
    font-family: "Tenor Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
button {
    font-family: "Tenor Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  
.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}
